html {
    font-size: 20px; /* Increase this value to scale up */
}

h1 {
    font-size: 2.2rem; /* Adjust the size as needed */
    white-space: nowrap; /* Prevents the title from wrapping */
    overflow: hidden; /* Ensures any overflow is hidden */
    text-overflow: ellipsis; /* Adds an ellipsis if the title is too long */
}


body {
    background-color: #fcfaeb; /* Offwhite/Eggwhite */
    font-family: Arial, sans-serif;
}

#container {
    width: 20rem;
    margin: auto;
    text-align: right;
}

#score {
    font-size: 1.5rem; /* Adjust the size as needed */
    margin: 20px 0;
    padding: 10px;
    background-color: white;
}

button {
    font-size: 1rem; /* Adjust the size as needed */
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

label {
    width: 20rem; /* Keep the label width consistent */
    text-align: right;
    margin-right: 0.5rem;
}

input[type="number"] {
    font-size: 1rem;
    height: 1.5rem;
    padding: 0.3rem;
    width: auto; /* Adjust based on your layout needs */
    /* other styles */
}


.score-placeholder {
    color: grey;
    /* Additional styles for the placeholder */
}
