html {
    font-size: 20px;
}

h1 {
    font-size: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


body {
    background-color: #c3f5bf;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}

#main-container {
    margin: 50px auto; /* Adjust the top margin as needed */
    background-color: white;
    padding: 20px; /* Adjust padding as needed */
    width: fit-content; /* Adjust width as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
    border-radius: 10px; /* Optional: For rounded corners */
}

#container1 {
    width: 20rem;
    margin: auto;
    text-align: center;
}

#container2 {
    width: 20rem;
    margin: auto;
    text-align: right;
}

#container3 {
    width: 20rem;
    margin: auto;
    text-align: center;
}

.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color: white; /* White background for the entire container */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box;
}

.label-left, .label-right {
    font-size: 1rem;
    background-color: white;
    padding: 5px 10px; /* Padding inside the labels */
    margin: 0 5px; /* Reset default margins */
    box-sizing: border-box;
}


#score {
    font-size: 1.5rem;
    margin: 20px 0;
    padding: 10px;
    background-color: white;
}

button {
    font-size: 1rem;
    background-color: black;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.input-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

label {
    width: 20rem;
    text-align: right;
    margin-right: 0.5rem;
}

input[type="number"] {
    font-size: 1rem;
    height: 1.5rem;
    padding: 0.3rem;
    width: auto;
}


.score-placeholder {
    color: grey;
}
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 10px; /* Ensure equal margins around the switch */

}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b9e9f0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c3f5bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c3f5bf;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}