<!DOCTYPE html>
<html>
<head>
    <title>Bulking Meal Rater</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="container">
    <h1>Bulking Meal Rater</h1>
    <div id="score" class="score-placeholder">Score: 0.00</div>

    <div class="input-group">
        <label for="cost">Total pris (Kr):</label>
        <input type="number" id="cost" name="cost">
    </div>

    <div class="input-group">
        <label for="protein">Proteiner (g):</label>
        <input type="number" id="protein" name="protein">
    </div>

    <div class="input-group">
        <label for="calories">Kalorier (kcal):</label>
        <input type="number" id="calories" name="calories">
    </div>

    <button id="submit" disabled>Rate Måltid</button>
</div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
